<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<head>
  <title>人情往来账-邮件验证</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
      body         { padding-top:20px; }
      .center {
        text-align: center;
       }
  </style>
</head>
<body>
<div class="container">
  <h2>用户ID: <%= userId %>.</h2>  
  <h2><%= email %>.</h2>    
  <h2></h2>    
  <div id="login" style="display:block">
    <form action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>修改密码</legend>
      <div class="form-group">
        <label for="password">旧密码:</label>
        <input type="password" name="oldPassword"  class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">新密码:</label>
        <input type="password" name="newPassword"  class="form-control"/>
      </div>
      <div class="center">
        <input type="submit" value="提交"  class="btn btn-info btn-lg"/>
      </div>
    </fieldset>
  </form>
</div>
<br/>
<br/>
  <a href="/logout?access_token=<%= accessToken %>">退出</a>
</div>
</body>