<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section>
  <form action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>重置密码</legend>      
      <div>
        <label for="password">新密码</label>
        <input type="password" name="newPassword">
      </div>
      <div>
        <label for="confirmation">确认新密码:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="重置密码">
      </div>
    </fieldset>
  </form>
</section>
