 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!doctype html>
<html>
<head>
    <title>人情往来账-邮件验证</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:20px; }
        .center {
          text-align: center;
         }
    </style>
</head>

<body>
           <legend></legend>
          <div class="form-group">
            <h1>邮件验证成功！</h1>
            您可以点击这里登录 <a href="/">log in</a>.
   </div>
  </body>

</div>
</div>
</body>
</html>

